@import './reset';
@import './themes/darkTheme';
@import './themes/lightTheme';
@import './variables/globals';

.app {
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.contentPage {
  display: flex;
}

.pageWrapper {
  flex-grow: 1;
  padding: 10px;
}
